<h3> viewing Batches</h3>

<!-- {{res}} -->
<!-- <div *ngFor="let batch of res;let i = index">
  {{i}} &nbsp;{{batch.header_signature}}
</div> -->


<!-- publicKey
batchId
headerSignature -->

<div class="table-responsive">
  <table class="table fixed">
    <tr>
      <th width="20%">batchId</th>
      <th width="20%">publicKey</th>
      <th width="60%">transactions</th>
    </tr>
    <tr *ngFor="let batch of res">
      <td data-toggle="tooltip" title="{{head}}">{{head}}</td>
      <td data-toggle="tooltip" title="{{batch.header.signer_public_key}}">{{batch.header.signer_public_key}}</td>
      <span *ngFor="let txn of batch.transactions">
      <td data-toggle="tooltip" title="{{txn.header_signature}}"><a href="http://localhost:8008/transactions/{{txn.header_signature}}">{{txn.header_signature}}</a></td>
    </span>
    </tr>
  </table>

</div>